.slider{
    position: relative;
    width: 1920px;
    height: 730px;
}

.container{
    position: absolute;
    width: 940px;
    height: 730px;
    left: 250px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    position: absolute;
    width: 940px;
    height: 100px;
    top: 0px;
    left: 0px;
}

.box{
    position: absolute;
    height: 100px;
    background: #DDDDDD;
    border-radius: 0px 0px 5px 5px;
}

#headerLeftBox{
    width: 301px;
    left: 0px;
}

#headerRightBox{
    width: 620px;
    left: 320px;  
}

.footer{
    position: absolute;
    width: 940px;
    height: 100px;
    bottom: 0px;
}

#footerBox{
    width: 940px;
    height: 100px;
    left: 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.topRowContainer{
    position: absolute;
    overflow: hidden;
    width: 1040px;
    height: 200px;
    left: -420px;
    top: 160px;
}

.bottomRowContainer{
    position: absolute;
    overflow: hidden;
    width: 850px;
    height: 200px;
    left: -390px;
    bottom: 160px;
}

.topRow, .bottomRow{
    position: absolute;
    height: 200px;
}

.imageBottom, .imageTop{
    position: absolute;
    height: 200px;
    border-radius: 5px;
}

#imTopRow1{
    width: 220px;
    left: 1px; 
}

#imTopRow2{
    width: 120px;
    left: 230px;
}

#imTopRow3{
    width: 220px;
    left: 360px;
}

#imTopRow4{
    width: 180px;
    left: 590px;
}

#imTopRow5{
    width: 260px;
    left: 780px;
}

#imBottomRow1{
    width: 260px;
    left: 0px;
}

#imBottomRow2{
    width: 260px;
    left: 270px;
}

#imBottomRow3{
    width: 120px;
    left: 540px;
}

#imBottomRow4{
    width: 180px;
    left: 670px;
}

.rightText{
    position: absolute;
    width: 301px;
    height: 296px;
    right: 0px;
    top: 160px;
}

.textTitle{
    position: absolute;
    width: 300px;
    height: 120px;
    top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.2px;
    color: #134880;   
}

.textTitle p{
    position: absolute;
    left: 5px;
    top: -25px;
}

.textLines{
    position: absolute;
    width: 300px;
    height: 156px;
    top: 135px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #484A4C;   
    opacity: 0.7;
}

.textLines p{
    position: absolute;
    left: 5px;
}

.arrows{
    position: absolute;
    width: 60px;
    height: 130px;
    right: 319.5px;
    bottom: 230px;    
}

.leftArrow{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.rectangleLeftArrow{
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    transition: border 0.3s ease;
    background-color: white;
}

.combinedShapeLeftArrow, .combinedShapeRightArrow{
    position: absolute;
    width: 9.98px;
    height: 16px;
    left: 25px;
    top: 22px;
    transition: 0.3s ease;
}

.rightArrow{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 70px;
}

.rectangleRightArrow{
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    transition: border 0.3s ease;
    background-color: white;
}

.arrows{
    z-index: 1;
}

.rightArrow:hover .rectangleRightArrow{
    z-index: 2;
    border: 1px solid #134880;
}

.rightArrow:hover .combinedShapeRightArrow{
    z-index: 3;
    content: url('assets/arrow-blue-right.png');
}

.leftArrow:hover .rectangleLeftArrow{
    z-index: 2;
    border: 1px solid #134880;
}

.leftArrow:hover .combinedShapeLeftArrow{
    z-index: 3;
    content: url('assets/arrow-blue-left.png'); 
}